body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.proof {
  background-color: black;
  color: white;
  padding: 20px 60px;
  font-size: 1.4rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}